//@import "other/sprite";
@import "other/mixins";

div{
	box-sizing: border-box;
}
a{

	transition: color 0.15s ease;
	&:hover{
		color: map-get($colors, pink);
	}
}

.clear:after{
	display: table;
	clear: both;
	content: '';
}
.mainWrapper{
	padding: 64px 0 0;
	color: map-get($colors, text);
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
	min-width: 1080px;
}
.layout{
	width: 1080px;
	margin: 0 auto;
	padding-bottom: 100px;
}
.section{
	
}

header { 
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 1080px;
	font-family: 'Roboto', sans-serif;
	background: rgba(255,255,255,0.8);
	&:after{
		content: '';
		display: table;
		clear: both;
	}
	.logoBlock { 
		position: relative;
		display: block;
		float: left;
    height: 64px;
    width: 82px;
		.icon { 
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			position: absolute;
			width: 34px;
			height: 34px;
			display: block;
			fill: map-get($colors, pink);
		}
	}

	#headerMenu { 
		float: right;
		font-size: 0;
		margin-right: 15px;
		.popupLink { 
			font-size: 14px;
			display: inline-block;
			vertical-align: top;
			height: 64px;
			line-height: 64px;
			overflow: hidden;
			margin-left: 10px;
	    white-space: nowrap;
	    padding: 0 15px;
	    cursor: pointer;
			&:first-child{
				margin-left: 0;
			}
	    &:hover{
		    color: map-get($colors, pink);
	    }
		}
	}
}


.section1 { 
	.companyName { 
		font-family: 'Noto Sans', sans-serif;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.8px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: map-get($colors, pink);
    font-weight: 700;
	}

	.companyPhrase { 
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.8px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #484848;
    font-weight: 300;
    width: 600px;
	}
	.contacts{
		margin: 40px 0 20px;
		.text{
			margin-bottom: 15px;
			.item{
				margin-right: 20px;
				font-size: 16px;
				line-height: 20px;
				display: block;
				span{
					font-size: 18px;
					line-height: 20px;
					font-weight: bold;
				}
			}
		}
		.social{
			display: inline-block;
			font-size: 0;
			line-height: 40px;
			a{
				margin-left: 10px;
				&:first-child{
					margin-left: 0;
				}
			}
			.icon{
				width: 40px;
				height: 40px;
				display: inline-block;
				&.whatsappIco{

				}
				&.telegramIco{

				}
				&.viberpIco{

				}
				&.skypeIco{

				}
				}
		}
	}

	form{
		background: #EFEFEF;
		padding: 20px 40px;
		border-radius: 4px;
		display: inline-block;
		.inpts{
			overflow: hidden;
		}
		input[type='text'],input[type='tel'],input[type='email']{
	    border: 1px solid #aaa;
	    border-radius: 2px;
	    background-color: #fff;
	    color: #484848;
	    padding: 8px 10px;
	    display: block;
	    width: 200px;
	    margin-bottom: 10px;
		}
		textarea{
			border: 1px solid #aaa;
			background-color: #fff;
			width: 500px;
			min-height: 50px;
			resize: vertical;
		}
		input[type='submit']{
			margin-top: 20px;
			background: map-get($colors, pink);
			border-radius: 4px;
			color: #fff;
	    user-select: none;
	    display: inline-block;
      padding: 9px 27px;
      font-weight: bold;
      font-size: 16px;
      border: none;
      cursor: pointer;
      &:hover{
      	background: lighten( map-get($colors, pink), 7 );
      }
		}
	}

}
.section2{
	.owl-carousel.owl-hidden {
		opacity: 1;
	}
	#landMenu { 
		z-index: 10;
    margin-top: 32px;
    border-bottom: 1px solid #e4e4e4;
    background: rgba(255,255,255,0.8);
		.link { 
			font-size: 12px;
	    line-height: 16px;
	    letter-spacing: 0.4px;
	    padding: 12px 0;
	    cursor: pointer;
	    display: inline-block;
	    margin: 0 16px 0 0;
	    text-decoration: none;
	    font-weight: 700;
	    border-bottom: 2px solid transparent;
	    transition: all 0.15s ease;
	    &:hover{
		    color: map-get($colors, pink);
	    }
	    &.active{
	    	color: map-get($colors, green);
	    	border-bottom: 2px solid map-get($colors, green);
	    }
		}
	}
	.items{
		margin-top: 40px;
		.item{
			float: left;
			width: calc(20% - 12px);
			margin-left: 15px;
			margin-bottom: 30px;
			&:nth-child(5n+1),&:first-child{
				margin-left: 0;
			}
			.imgBlock{
				width: 100%;
				height: 290px;
				background-size: cover;
				background-position: center center;
			}
		}
		.owl-nav{
			height: 0;
    	width: 0;
    	position: static;
			>div{
				width: 30px;
				height: 100%;
				top: 0%;
				position: absolute;
				.icon{
					position: absolute;
					transform: translateY(-50%);
					top: 50%;
					width: 20px;
					height: 40px;
					fill: map-get($colors, text);
					transition: fill 0.15s ease;
				}
				&:hover{
					.icon{
						fill: map-get($colors, pink);
					}
				}
				&.disabled{
					display: none;
				}
			}
			.owl-prev{
				left: -30px;
				.icon{
					left: 0;
				}
			}
			.owl-next{
				right: -30px;
				.icon{
					right: 0;	
				}
			}
		}
	}
}
.section3{
	margin: 50px 0;
	text-align: center;
	.title{
		font-size: 30px;
		line-height: 32px;
		margin-bottom: 20px;
		text-align: center;
	}
	.rows{
		position: relative;
		overflow: hidden;
	}
	.helper{
		position: absolute;
		right: 0;
		display: block;
		width: 1px;
		background: map-get($colors, green);
	}
	.row{
		font-size: 0;
		display: inline-block;
		margin: 0 auto;
		margin-left: -15px;
		margin-right: -15px;
		position: relative;
		width: 80%;
		&:before{
			height: 1px;
			//width: calc(66.6666666%);
			width: 2000px;
			left: calc(16.6666666666%);
			background: map-get($colors, green);
			top: 100px;
			content: '';
			position: absolute;
			top: 25px;
		}
		&.w100{
			width: 100%;
			.col{
				width: 25%;
				.imgB{
					&:before{
						content: '';
						background: url(data:image/svg+xml,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20width%3D%2216.5px%22%20height%3D%2229.5px%22%3E%0A%3Cdefs%3E%0A%3Cfilter%20id%3D%22Filter_0%22%3E%0A%20%20%20%20%3CfeFlood%20flood-color%3D%22rgb%280%2C%20132%2C%20137%29%22%20flood-opacity%3D%221%22%20result%3D%22floodOut%22%20/%3E%0A%20%20%20%20%3CfeComposite%20operator%3D%22atop%22%20in%3D%22floodOut%22%20in2%3D%22SourceGraphic%22%20result%3D%22compOut%22%20/%3E%0A%20%20%20%20%3CfeBlend%20mode%3D%22normal%22%20in%3D%22compOut%22%20in2%3D%22SourceGraphic%22%20/%3E%0A%3C/filter%3E%0A%0A%3C/defs%3E%0A%3Cg%20filter%3D%22url%28%23Filter_0%29%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20stroke%3D%22rgb%28255%2C%20255%2C%20255%29%22%20stroke-width%3D%221px%22%20stroke-linecap%3D%22butt%22%20stroke-linejoin%3D%22miter%22%20fill%3D%22none%22%0A%20d%3D%22M14.500%2C28.497%20L0.500%2C14.497%20L14.500%2C0.496%20%22/%3E%0A%3C/g%3E%0A%3Cpath%20fill%3D%22none%22%20stroke%3D%22rgb%28255%2C%20255%2C%20255%29%22%20stroke-width%3D%221px%22%20stroke-linecap%3D%22butt%22%20stroke-linejoin%3D%22miter%22%0A%20d%3D%22M14.500%2C28.497%20L0.500%2C14.497%20L14.500%2C0.496%20%22/%3E%0A%3C/svg%3E);
					}
					&:after{
						position: absolute;
						left: -4px;
						top: 50%;
						width: 20px;
						height: 20px;
						border-top: 1px solid map-get($colors, green);
						border-left: 1px solid map-get($colors, green);
						display: block;
						transform-origin: 50% 50%;
						transform: translateX(-100%) translateY(-50%) rotate(135deg);
						content: '';
						// background-image: url(data:image/svg+xml,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20width%3D%2216.5px%22%20height%3D%2229.5px%22%3E%0A%3Cdefs%3E%0A%0A%0A%3C/defs%3E%0A%3Cg%20filter%3D%22url%28%23Filter_0%29%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20stroke%3D%22%23008489%22%20stroke-width%3D%221px%22%20stroke-linecap%3D%22butt%22%20stroke-linejoin%3D%22miter%22%20fill%3D%22none%22%0A%20d%3D%22M14.500%2C28.497%20L0.500%2C14.497%20L14.500%2C0.496%20%22/%3E%0A%3C/g%3E%0A%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23008489%22%20stroke-width%3D%221px%22%20stroke-linecap%3D%22butt%22%20stroke-linejoin%3D%22miter%22%0A%20d%3D%22M14.500%2C28.497%20L0.500%2C14.497%20L14.500%2C0.496%20%22/%3E%0A%3C/svg%3E);
						background-repeat: no-repeat;
						background-position: center left;
					}
				}
				&:first-child{
					.imgB:after{
						display: none;
					}
				}
			}
			&:before{
				height: 1px;
				//width: calc(75%);
				width: 2000px;
				left: calc(12.5%);
				background: map-get($colors, green);
				top: 100px;
				content: '';
				position: absolute;
				top: 25px;
			}
		}
	}

	.col{
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 33.33333%;
		box-sizing: border-box;
		padding: 0 15px;
		.imgB{
			width: 50px;
			height: 50px;
			border-radius: 100%;
			margin: 0 auto;
			position: relative;
			&:after{
				position: absolute;
				right: -4px;
				top: 50%;
				width: 20px;
				height: 20px;
				border-top: 1px solid map-get($colors, green);
				border-left: 1px solid map-get($colors, green);
				display: block;
				transform-origin: 50% 50%;
				transform: translateX(100%) translateY(-50%) rotate(-45deg);
				content: '';
				// background-image: url(data:image/svg+xml,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20width%3D%2216.5px%22%20height%3D%2229.5px%22%3E%0A%3Cdefs%3E%0A%0A%0A%3C/defs%3E%0A%3Cg%20filter%3D%22url%28%23Filter_0%29%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20stroke%3D%22%23008489%22%20stroke-width%3D%221px%22%20stroke-linecap%3D%22butt%22%20stroke-linejoin%3D%22miter%22%20fill%3D%22none%22%0A%20d%3D%22M14.500%2C28.497%20L0.500%2C14.497%20L14.500%2C0.496%20%22/%3E%0A%3C/g%3E%0A%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23008489%22%20stroke-width%3D%221px%22%20stroke-linecap%3D%22butt%22%20stroke-linejoin%3D%22miter%22%0A%20d%3D%22M14.500%2C28.497%20L0.500%2C14.497%20L14.500%2C0.496%20%22/%3E%0A%3C/svg%3E);
				background-repeat: no-repeat;
				background-position: center left;
			}
			img{
				max-width: 100%;
				display: block;
				margin: 0 auto;
				border-radius: 100%;
			}
		}
		.text{
			text-align: center;
			margin-top: 10px;
			font-size: 18px;
			line-height: 22px;
			font-weight: 300;
		}
	}
}
.section4{
	margin: 50px 0;
	.title{
		font-size: 30px;
		line-height: 32px;
		margin-bottom: 20px;
		text-align: center;
	}
	.row{
		margin-left: -15px;
		margin-right: -15px;
		position: relative;
	}
	.col{
		position: relative;
		float: left;
		width: 20%;
		box-sizing: border-box;
		padding: 0 15px;
		.imgB{

			img{
				max-width: 100px;
				display: block;
				margin: 0 auto;
				border-radius: 100%;
			}
		}
		.text{
			text-align: center;
			margin-top: 10px;
			font-size: 18px;
			line-height: 22px;
			font-weight: 300;
		}
	}
}

.section5{
	.title{
		font-size: 40px;
		line-height: 44px;
		font-weight: 700;
	}
	.items{
		.item{
			display: table;
			width: 100%;
			.imageB{
				padding: 20px 50px;
				position: relative;
				display: table-cell;
				vertical-align: middle;
				img{
					max-width: 200px;
					border-radius: 100%;
					display: block;
				}
			}
			.textB{
				display: table-cell;
				vertical-align: middle;
				&:first-child{
					text-align: right;
				}
				.name{
					margin-bottom: 25px;
					font-size: 30px;
					line-height: 32px;
					font-weight: 300;
					color: map-get($colors, green);
				}
				.desc{
					font-size: 20px;
					line-height: 24px;
				}
			}
		}
	}
}

.mainWrapper footer{
	padding: 0 20px;
	box-sizing: border-box;
	display: table;
	width: 100%;
	.copyB{
		display: table-cell;
		vertical-align: middle;
		line-height: 40px;
		height: 40px;
	}
	.rb{
		display: table-cell;
		vertical-align: middle;
		text-align: right;
		.popupLink{
			cursor: pointer;
			display: inline-block;
			vertical-align: top;
			line-height: 40px;
			height: 40px;
			&:hover{
				color: map-get($colors, pink);
			}
		}
		.social{
			margin-left: 30px;
			display: inline-block;
			font-size: 0;
			line-height: 40px;
			a{
				margin-left: 10px;
				&:first-child{
					margin-left: 0;
				}
			}
			.icon{
				width: 40px;
				height: 40px;
				display: inline-block;
				&.whatsappIco{

				}
				&.telegramIco{

				}
				&.viberpIco{

				}
				&.skypeIco{

				}
				}
		}
	}
}







.popup{
	display: none;
}
.mfp-container{
	.popup{
		display: block;
	}
}