//@import "other/sprite";
@import "other/mixins";

div{
	box-sizing: border-box;
}
a{
	color: map-get($colors, green);
	transition: color 0.15s ease;
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

h1,h2,h3,h4{
  &:first-child{
    margin-top: 0;
  }
}
h1{
  font-size: 60px;
  line-height: 75px;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 44px;
}
h2{
  font-size: 40px;
  line-height: 50px;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 44px;
}
h3{
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 17px;
  margin-top: 33px;
}
h4{
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 17px;
  margin-top: 33px;
}
p{
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 25px;
}
ol{
  margin: 0 0 25px 0;
  list-style: none; /* Убираем исходные маркеры */
  counter-reset:  item;
}
ol li{
  margin: 0 0 7px 0;
  position: relative;
  padding-left: 20px;
  font-size: 16px;
  line-height: 25px;
}
ol>li:before{
  content: counter(item) '. '; /* Добавляем к числам скобку */
  counter-increment: item; /* Задаём имя счетчика */
  color: map-get($colors, desc);
  left: 0;
  top: 0;
  position: absolute;
  display: block;
}
/*обнуление внутренних инкрементов влияющих на внешний*/
ol li ul{
  -reset: inner;
}
ol ul li{
  content: counter(inner) '. '; /* Добавляем к числам скобку */
  counter-increment: inner; /* Задаём имя счетчика */
}
ul{
  margin-bottom: 25px;
}
ul li{
  font-size: 16px;
  line-height: 25px;
  position: relative;
  padding-left: 20px;
  margin: 0 0 7px 0;
  &:last-child{
    margin-bottom: 0;
  }
}
ul li ul{
  margin-top: 25px;
}
ul li:before{
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: map-get($colors, text);
  left: 7px;
  top: 11px;
  position: absolute;
}
ul.succes,
ul.error{
  margin: 25px 0;
  &:first-child{
    margin-top: 0;
  }
  li{
    line-height: 20px;
    padding-left: 47px;
    margin-bottom: 15px;
    &:before{
      width: 30px;
      height: 30px;
      top: -6px;
    }
  }
}
p{
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 15px;
}




.clear:after{
	display: table;
	clear: both;
	content: '';
}
.body{
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
}
.mainWrapper{
	padding: 64px 0 0;
	color: map-get($colors, text);
	overflow: hidden;
	min-width: 1080px;
}
.layout{
	width: 1080px;
	margin: 0 auto;
}
.section{
	padding: 50px 0;
	.title{
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 20px;
    text-align: center;
	}
}

header { 
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 1080px;
	font-family: 'Roboto', sans-serif;
	background: rgba(255,255,255,0.8);
	&:after{
		content: '';
		display: table;
		clear: both;
	}
	.logoBlock { 
		position: relative;
		display: block;
		float: left;
    height: 64px;
    width: 82px;
		.icon { 
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			position: absolute;
			width: 45px;
	    height: auto;
			display: block;
		}
	}

	#headerMenu { 
		float: right;
		font-size: 0;
		margin-right: 15px;
		.popupLink { 
			font-size: 14px;
			display: inline-block;
			vertical-align: top;
			height: 64px;
			line-height: 64px;
			overflow: hidden;
			margin-left: 10px;
	    white-space: nowrap;
	    padding: 0 15px;
	    cursor: pointer;
			&:first-child{
				margin-left: 0;
			}
	    &:hover,
	    &.active{
		    color: map-get($colors, pink);
	    }
		}
	}
}


.section1 { 
	padding-bottom: 20px;
	.companyName { 
		padding-left: 20px;
		font-family: 'Noto Sans', sans-serif;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.8px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: map-get($colors, pink);
    font-weight: 700;
	}

	.companyPhrase { 
		padding-left: 20px;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.8px;
    padding-top: 8px;
    color: #484848;
    font-weight: 300;
    width: 600px;
	}
	.contacts{
		padding-left: 20px;
		margin: 30px 0 30px;
		display: table;
		width: 100%;
		.text{
			display: table-cell;
			vertical-align: middle;
			text-align: left;
			font-size: 16px;
			line-height: 20px;
			a{
				margin-left: 15px;
				&:first-child{
					margin-left: 0;
				}
			}
		}
		.social{
			display: table-cell;
			vertical-align: middle;
			text-align: right;
			font-size: 0;
			line-height: 40px;
			a{
				margin-left: 10px;
				&:first-child{
					margin-left: 0;
				}
			}
			.icon{
				width: 40px;
				height: 40px;
				display: inline-block;
				&.whatsappIco{

				}
				&.telegramIco{

				}
				&.viberpIco{

				}
				&.skypeIco{

				}
				}
		}
	}
}

form.mainForm{
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #DBDBDB;
	padding: 0 20px 16px;
	border-radius: 4px;
	display: inline-block;
	font-size: 0;
	.inpts{
		overflow: hidden;
	}
	.col{
		padding-top: 16px;
		display: inline-block;
		vertical-align: top;
		margin-left: 15px;
		box-sizing: border-box;
		width: calc(33.3333333% - 10px);
		box-sizing: border-box;
		position: relative;
		&:before{
			content: '';
			height: 100%;
			width: 1px;
			background: #DBDBDB;
			left: -7px;
  		top: 0;
  		position: absolute;
		}
		&:first-child{
			margin-left: 0;
			&:before{
				display: none;
			}
		}
		.name{
			font-size: 15px;
			line-height: 18px;
			margin-bottom: 10px;
		}
	}
	input[type='text'],input[type='tel'],input[type='email']{
    background-color: #fff;
    color: #484848;
    display: inline-block;
    margin-bottom: 10px;
		font-size: 14px;
		width: 100%;
		padding: 8px 10px;
		box-sizing: border-box;
		font-size: 19px;
		line-height: 24px;
		border: none;
	}
	.b{
    padding-top: 16px;
		display: table;
		width: 100%;
		position: relative;
		&:before{
			content: '';
			background: #DBDBDB;
			height: 1px;
			width: calc(100% + 40px);
			box-sizing: border-box;
			position: absolute;
			left: -20px;
			top: 0;
		}
		.lc{
			display: table-cell;
			vertical-align: top;
			width: 100%;
			textarea{
				border: none;
				background-color: #fff;
				font-size: 14px;
				line-height: 26px;
				padding: 8px 10px;
				width: 500px;
				min-height: 60px;
				resize: vertical;
				font-size: 14px;
				line-height: 16px;
				box-sizing: border-box;
				width: 100%;
			}
		}
		.rc{
			padding-left: 30px;
			display: table-cell;
			vertical-align: middle;
			input[type='submit']{
				background: map-get($colors, pink);
				border-radius: 4px;
				color: #fff;
		    user-select: none;
		    display: inline-block;
	      padding: 10px 29px;
	      font-weight: bold;
	      font-size: 18px;
	      border: none;
	      cursor: pointer;
	      &:hover{
	      	background: lighten( map-get($colors, pink), 7 );
	      }
			}
		}
	}
}

.section2{
	.owl-carousel.owl-hidden {
		opacity: 1;
	}
	#landMenu { 
		z-index: 10;
    margin-top: 32px;
    border-bottom: 1px solid #e4e4e4;
    background: rgba(255,255,255,0.8);
		.link, .footerLinkAnchor { 
			font-size: 12px;
	    line-height: 16px;
	    letter-spacing: 0.4px;
	    padding: 12px 0;
	    cursor: pointer;
	    display: inline-block;
	    margin: 0 16px 0 0;
	    text-decoration: none;
	    font-weight: 700;
	    border-bottom: 2px solid transparent;
	    transition: all 0.15s ease;
	    &:hover{
		    color: map-get($colors, pink);
	    }
	    &.active{
	    	color: map-get($colors, green);
	    	border-bottom: 2px solid map-get($colors, green);
	    }
		}
	}
	.items{
		margin-top: 40px;
		.item{
			float: left;
			width: calc(20% - 12px);
			margin-left: 15px;
			margin-bottom: 30px;
			&.popupLink{
				cursor: pointer;
			}
			&:nth-child(5n+1),&:first-child{
				margin-left: 0;
			}
			.imgBlock{
				width: 100%;
				height: 290px;
				background-size: cover;
				background-position: center center;
			}
			.name{
				font-size: 16px;
				line-height: 20px;
				margin-top: 5px;
				transition: all 0.15s ease;
			}
			&.popupLink:hover{
				.name{
					color: map-get($colors, pink);
				}
			}

		}
		.owl-nav{
			height: 0;
    	width: 0;
    	position: static;
			>div{
				width: 30px;
				height: 100%;
				top: 0%;
				position: absolute;
				.icon{
					position: absolute;
					transform: translateY(-50%);
					top: 50%;
					width: 20px;
					height: 40px;
					fill: map-get($colors, text);
					transition: fill 0.15s ease;
				}
				&:hover{
					.icon{
						fill: map-get($colors, pink);
					}
				}
				&.disabled{
					display: none;
				}
			}
			.owl-prev{
				left: -30px;
				.icon{
					left: 0;
				}
			}
			.owl-next{
				right: -30px;
				.icon{
					right: 0;	
				}
			}
		}
	}
}
.section3{
	text-align: center;
	.rows{
		position: relative;
		overflow: hidden;
    margin: 0 auto;
    width: 90%;
	}
	.helper{
		position: absolute;
		right: 0;
		display: block;
		width: 1px;
		background: map-get($colors, green);
	}
	.row{
		font-size: 0;
		display: inline-block;
		margin: 0 auto;
		margin-left: -15px;
		margin-right: -15px;
		position: relative;
		width: 80%;
		&:before{
			height: 1px;
			//width: calc(66.6666666%);
			width: 2000px;
			left: calc(16.6666666666%);
			background: map-get($colors, green);
			top: 100px;
			content: '';
			position: absolute;
			top: 25px;
		}
		&.w100{
			width: 100%;
			.col{
				width: 25%;
				.imgB{
					&:after{
						position: absolute;
						left: -2px;
						top: 50%;
						width: 10px;
						height: 10px;
						border-top: 1px solid map-get($colors, green);
						border-left: 1px solid map-get($colors, green);
						display: block;
						transform-origin: 50% 50%;
						transform: translateX(-100%) translateY(-50%) rotate(135deg);
						content: '';
						// background-image: url(data:image/svg+xml,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20width%3D%2216.5px%22%20height%3D%2229.5px%22%3E%0A%3Cdefs%3E%0A%0A%0A%3C/defs%3E%0A%3Cg%20filter%3D%22url%28%23Filter_0%29%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20stroke%3D%22%23008489%22%20stroke-width%3D%221px%22%20stroke-linecap%3D%22butt%22%20stroke-linejoin%3D%22miter%22%20fill%3D%22none%22%0A%20d%3D%22M14.500%2C28.497%20L0.500%2C14.497%20L14.500%2C0.496%20%22/%3E%0A%3C/g%3E%0A%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23008489%22%20stroke-width%3D%221px%22%20stroke-linecap%3D%22butt%22%20stroke-linejoin%3D%22miter%22%0A%20d%3D%22M14.500%2C28.497%20L0.500%2C14.497%20L14.500%2C0.496%20%22/%3E%0A%3C/svg%3E);
						background-repeat: no-repeat;
						background-position: center left;
					}
				}
				&:first-child{
					.imgB:after{
						display: none;
					}
				}
			}
			&:before{
				height: 1px;
				//width: calc(75%);
				width: 2000px;
				left: calc(12.5%);
				background: map-get($colors, green);
				top: 100px;
				content: '';
				position: absolute;
				top: 25px;
			}
		}
	}

	.col{
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 33.33333%;
		box-sizing: border-box;
		padding: 0 15px;
		.imgB{
			width: 50px;
			height: 50px;
			border-radius: 100%;
			margin: 0 auto;
			position: relative;
			&:after{
				position: absolute;
				right: -2px;
				top: 50%;
				width: 10px;
				height: 10px;
				border-top: 1px solid map-get($colors, green);
				border-left: 1px solid map-get($colors, green);
				display: block;
				transform-origin: 50% 50%;
				transform: translateX(100%) translateY(-50%) rotate(-45deg);
				content: '';
				// background-image: url(data:image/svg+xml,%3Csvg%20%0A%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20width%3D%2216.5px%22%20height%3D%2229.5px%22%3E%0A%3Cdefs%3E%0A%0A%0A%3C/defs%3E%0A%3Cg%20filter%3D%22url%28%23Filter_0%29%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20%20stroke%3D%22%23008489%22%20stroke-width%3D%221px%22%20stroke-linecap%3D%22butt%22%20stroke-linejoin%3D%22miter%22%20fill%3D%22none%22%0A%20d%3D%22M14.500%2C28.497%20L0.500%2C14.497%20L14.500%2C0.496%20%22/%3E%0A%3C/g%3E%0A%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23008489%22%20stroke-width%3D%221px%22%20stroke-linecap%3D%22butt%22%20stroke-linejoin%3D%22miter%22%0A%20d%3D%22M14.500%2C28.497%20L0.500%2C14.497%20L14.500%2C0.496%20%22/%3E%0A%3C/svg%3E);
				background-repeat: no-repeat;
				background-position: center left;
			}
			img{
				max-width: 100%;
				display: block;
				margin: 0 auto;
				border-radius: 100%;
			}
		}
		.text{
			text-align: center;
			margin-top: 10px;
			font-size: 18px;
			line-height: 22px;
			font-weight: 300;
		}
	}
}
.section4{
	.title{
		margin-bottom: 40px;
	}
	.row{
		margin-left: -15px;
		margin-right: -15px;
		position: relative;
	}
	.col{
		position: relative;
		float: left;
		width: 20%;
		box-sizing: border-box;
		padding: 0 15px;
		.imgB{

			img{
				max-width: 100px;
				display: block;
				margin: 0 auto;
				border-radius: 100%;
			}
		}
		.text{
			text-align: center;
			margin-top: 10px;
			font-size: 18px;
			line-height: 22px;
			font-weight: 300;
		}
	}
}

.section5{
	.items{
		.item{
			display: table;
			width: 100%;
			padding-bottom: 20px;
			.imageB{
				padding: 0px 50px;
				position: relative;
				display: table-cell;
				vertical-align: middle;
				img{
					max-width: 200px;
					border-radius: 100%;
					display: block;
				}
			}
			.textB{
				display: table-cell;
				vertical-align: middle;
				&:first-child{
					text-align: right;
				}
				.name{
					margin-bottom: 25px;
					font-size: 30px;
					line-height: 32px;
					font-weight: 300;
					color: map-get($colors, green);
				}
				.desc{
					font-size: 20px;
					line-height: 24px;
				}
			}
		}
	}
}

.mainWrapper footer{
	border-top: 1px solid #e4e4e4;
	padding: 15px 10px 0;
	box-sizing: border-box;
	display: table;
	width: 100%;
	margin-top: 70px;
	.copyB{
		display: table-cell;
		vertical-align: top;
		line-height: 40px;
		height: 40px;
		.links{
			margin-left: 20px;
			a{
				margin-left: 10px;
				&:first-child{
					margin-left: 0;
				}
			}
		}
	}
	.rb{
		display: table-cell;
		vertical-align: middle;
		text-align: right;
		.popupLink{
			cursor: pointer;
			display: inline-block;
			vertical-align: top;
			line-height: 40px;
			height: 40px;
			&:hover{
				color: map-get($colors, pink);
			}
		}
		.social{
			margin-left: 30px;
			display: inline-block;
			font-size: 0;
			line-height: 40px;
			a{
				margin-left: 10px;
				&:first-child{
					margin-left: 0;
				}
			}
			.icon{
				width: 40px;
				height: 40px;
				display: inline-block;
				&.whatsappIco{

				}
				&.telegramIco{

				}
				&.viberpIco{

				}
				&.skypeIco{

				}
				}
		}
	}
}

.footerTable{
	width: 100%;
	font-size: 16px;
	line-height: 20px;
	th{
		font-weight: bold;
		text-align: center;
		padding: 10px 15px;
		border: 1px solid #DBDBDB;
	}
	td{
		padding: 10px 15px;
		width: 50%;
		border: 1px solid #DBDBDB;
		ul{
			li{
				position: relative;
				list-style-type: none;
				margin-top: 10px;
				padding-left: 25px;
				&:first-child{
					margin-top: 0;
				}
				&:before{
			    content: '';
			    display: block;
			    width: 3px;
			    height: 3px;
			    border-radius: 100%;
			    background-color: map-get($colors, text);
			    left: 7px;
			    top: 8px;
			    position: absolute;
			  }
			}
		}
	}
}

.popup{
	display: none;
}

.mfp-container, #rightPopup{
	.popup{
    font-family: 'Roboto', sans-serif;
		display: block;
	}
}

#rightPopup{
	width: 400px;
	height: calc(100% - 64px);
	position: fixed;
	right: 0;
	z-index: 1000;
	top: 64px;
	transform: translateX(100%);
  padding: 35px 10px 20px 20px;
	border: 1px solid #767676;
	background: #fff;
	.closeBut{
	  cursor: pointer;
	  font-size: 0;
	  $size: 20px;
	  height: $size;
	  width: $size;
	  position: relative;
	  box-sizing: border-box;
	  line-height: $size;
	  display: block;
	  position: absolute;
	  top: 9px;
	  right: 10px;
	  background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2221%22%20height%3D%2221%22%3E%3Cpath%20fill%3D%22%23FF5A5F%22%20d%3D%22M12.336%2010.985l8.377%208.377c.373.373.373.978%200%201.351s-.978.373-1.351%200l-8.377-8.377-8.377%208.377c-.373.373-.978.373-1.351%200s-.373-.978%200-1.351l8.377-8.377-8.377-8.377c-.373-.373-.373-.978%200-1.351s.978-.373%201.351%200l8.377%208.377%208.377-8.377c.373-.373.978-.373%201.351%200s.373.978%200%201.351l-8.377%208.377z%22/%3E%3C/svg%3E) center center;
	}
	.content{
		padding-right: 10px;
		height: 100%;
		overflow-y: scroll;
	}
}
