@mixin spriteWidth($sprite) { width: nth($sprite, 5); }
@mixin spriteHeight($sprite) { height: nth($sprite, 6); }
@mixin spritePosition($sprite) { background-position: nth($sprite, 3) nth($sprite, 4); }
@mixin spriteImage($sprite) {
	$url:"../images/#{nth($sprite, 9)}";
	background-image: url($url); 
}

// @mixin background-opacity($color, $opacity: 0.3) {
//     background: $color; /* The Fallback */
//     background: rgba($color, $opacity);
// }

@mixin sprite($sprite) {
	@include spriteImage($sprite);
	@include spritePosition($sprite);
	@include spriteWidth($sprite);
	@include spriteHeight($sprite);
}
/*5 - width, 6 - height*/
$colors: (
	header: #333333,
	text: #484848,
	lText: #767676,
	desc: #737373,
	pink: #ff6633,
	green: #663300
);